.landing__main-body {
  width: 96vw;
  height: 100vh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__title {
  position: relative;
  top: 13vh;
  font-size: 60px;
  text-align: center;
  font-family: "Style Script", cursive;
  animation: appearing 2s ease-in;
}

.landing__dog-img {
  position: absolute;
  bottom: 0px;
  left: calc(50vw - 160px);
  width: 150px;
  animation: appearing 0.2s ease;
}

.landing__cat-img {
  position: absolute;
  bottom: -2px;
  left: 50vw;
  width: 150px;
  animation: appearing 0.2s ease;
}

.btn-register {
  width: 60vw;
  max-width: 400px;
  height: 45px;
  position: relative;
  top: 16vh;
  padding-top: 0;
  font-size: 30px;
  color: $white;
  background-color: $primary;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  border: none;
  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  animation: appearing 0.5s ease;
  &:focus {
    background-color: lighten($primary, $amount: 10);
  }
}

.btn-login {
  width: 60vw;
  max-width: 400px;
  height: 45px;
  position: relative;
  top: 20vh;
  padding-top: 0;
  font-size: 28px;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 40px;
  font-weight: 600;
  background-color: $white;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  animation: appearing 0.3s ease;
  &:focus {
    background-color: darken($white, $amount: 4);
  }
}

@keyframes appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
