.navbar__principal {
  background: rgba(190, 75, 203, 1);
  background: -moz-linear-gradient(
    top,
    rgba(190, 75, 203, 1) 0%,
    rgba(190, 75, 219, 1) 96%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(190, 75, 203, 1)),
    color-stop(96%, rgba(190, 75, 219, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(190, 75, 203, 1) 0%,
    rgba(190, 75, 219, 1) 96%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(190, 75, 203, 1) 0%,
    rgba(190, 75, 219, 1) 96%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(190, 75, 203, 1) 0%,
    rgba(190, 75, 219, 1) 96%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(190, 75, 203, 1) 0%,
    rgba(190, 75, 219, 1) 96%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be4bcb', endColorstr='#ffffff', GradientType=0 );
  width: 100vw;
}

.container-fluid {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.navbar__div-navbar {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  justify-content: space-between;
  width: 95vw;
}

.navbar__logo {
  font-size: 24px;
  margin-right: 10px;
  color: $white;
}

.nav-link-pc {
  font-size: 20px;
  color: $white;
  margin: 0 10px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    text-decoration: none;
    color: darken($white, $amount: 20);
  }

  &:active {
    text-decoration: none;
    color: darken($white, $amount: 20);
  }
}

.nav-link-pc:focus {
  color: black;
}

.modal-options {
  display: none;
  height: 0vh;
  width: 100%;
  max-width: 300px;
  background-color: $primary;
  z-index: 1000;
  position: absolute;
  flex-direction: column;
  padding-left: 20px;
  animation: deploy-modal 0.4s ease forwards;
}

@media all and (min-width: 992px) {
  .modal-options {
    display: none !important;
  }

  .navbar__title-page {
    color: $white !important;
    font-weight: 700;
    letter-spacing: 2px;
    width: 20vw;
    max-width: 220px;
    font-size: 20px;
    // font-size: 20px;
  }

  .navbar__button-bars {
    display: none;
  }
  .navbar__div-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1300px;
    width: calc(95vw - 220px - 30px);
    color: $white !important;
  }
}

@keyframes deploy-modal {
  0% {
    height: 0vh;
  }

  100% {
    display: flex;
    height: 100vh;
  }
}

.navbar__title-page {
  color: $white !important;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  // font-size: 20px;
}

.nav-link {
  color: $white;
  font-size: 25px;
  animation: appearing 0.5s ease;

  &:focus {
    color: darken($white, $amount: 10);
  }
}

.navbar__button-bars {
  background-color: transparent;
  border: 1px solid transparentize($white, $amount: 0.7);
  border-radius: 5px;
  width: 35px;
  height: 35px;
}

.nav-item {
  color: $white;
}
