.auth__login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth__go-before {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 18px;
  font-size: 50px;
  color: lighten($dark-grey, $amount: 65);
  animation: appearing 3s ease;
}

.auth__cat-logo {
  width: 50vw;
  position: relative;
  top: -4vh;
  display: block;
  margin: 0 auto;
  animation: appearing 1s ease;
}

.auth__title {
  margin: 0 auto;
  position: relative;
  top: -5vh;
  font-family: "Style Script", cursive;
  font-size: 50px;
  animation: appearing 2.5s ease;
}

.auth__label {
  position: relative;
  margin-top: 4vh;
  left: 14vw;
  color: lighten($dark-grey, $amount: 30);
  animation: appearing 0.6s ease;
}

.auth__label-register {
  position: relative;
  margin-top: 1vh;
  left: 14vw;
  color: lighten($dark-grey, $amount: 30);
  animation: appearing 0.6s ease;
}

.auth__input {
  width: 80vw;
  height: 40px;
  border: 2px solid lighten($primary, $amount: 15);
  outline: none;
  padding: 0 15px;
  animation: appearing 0.8s ease;
  &:focus {
    border: 2px solid $primary;
  }
}

.auth__btn-login {
  width: 60vw;
  height: 45px;
  position: relative;
  margin-top: 5vh;
  padding-top: 0;
  font-size: 28px;
  color: $white;
  background-color: $primary;
  border: none;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  animation: appearing 0.4s ease;
  &:focus {
    background-color: lighten($primary, $amount: 10);
  }
}

.auth__btn-register {
  width: 60vw;
  height: 45px;
  position: relative;
  margin-top: 3vh;
  padding-top: 0;
  font-size: 28px;
  color: $white;
  background-color: $primary;
  border: none;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.38);
  animation: appearing 0.4s ease;
  &:focus {
    background-color: lighten($primary, $amount: 10);
  }
}

.google-btn {
  cursor: pointer;
  margin-top: 5px;
  width: 80vw;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

  transition: box-shadow 0.3s ease;

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

  .btn-text {
    float: right;
    margin: 11px 60px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}
